# Virtual environments
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo

# Pytest
.pytest_cache/
htmlcov/

# Robot Framework reports
log.html
report.html
output.xml

# Logs
*.log

# Screenshots
selenium-screenshot-*.png
screenshots/
*/screenshots/

# Coverage
.coverage
coverage.xml

# OS files
.DS_Store
Thumbs.db

# Robot output
output.xml
log.html
report.html

# Reports
reports/
*/reports/